<form action="/" method="post">
    <div class="mb-3">
        <label for="blogTitle" class="form-label">Blog Title</label>
        <input type="text" class="form-control" id="blogTitle">
    </div>
    <div class="mb-3">
        <label for="blogDesc" class="form-label">Blog Description</label>
        <input type="text" class="form-control" id="blogDesc">
    </div>
    <div class="mb-3">
        <label for="blogImageUrl" class="form-label">Blog Image URL</label>
        <input type="text" class="form-control" id="blogImageUrl">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>